body {
    font-family: 'Ubuntu', sans-serif;
}


/* navbar section */

.navbar-chapriv-text {
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    font-size: 2rem;
    padding-left: 3%;
}

.navbar-items {
    text-align: center;
    margin-left: 40%;
}

.nav-link-anchor {
    display: inline-block;
    margin-left: 60px;
}


/* adjustments for my phone spesific (Samsung Galaxy Note8)*/

@media (max-width: 520px) {
    .navbar-chapriv-text {
        font-size: 1.3rem;
    }
}