body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #d7c79e;
}


/* navbar section */

.navbar-chapriv-text {
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    font-size: 2rem;
    padding-left: 10%;
}

.navbar-items {
    text-align: center;
    margin-left: 40%;
}

.nav-link-anchor {
    display: inline-block;
    margin-left: 0;
}


/* middle section */

.form-text-area {
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 0;
    margin-left: 20%;
}

.middle-section-div {
    font-weight: bolder;
    margin: 2% 8%;
}

.middle-section-div label {
    color: gray;
    text-align: left;
    display: inline-block;
    margin-bottom: 5%;
}

.text-area {
    background-color: #d8ceb7 !important;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.send-btn {
    width: 19.2% !important;
    margin-right: 2% !important;
    margin-left: 3%;
}

.message-area {
    background-color: #d8ceb7 !important;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    position: relative;
    display: inline-block;
    width: 50%;
    margin-left: 20% !important;
}

iframe {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border: none;
}

.carousel-item {
    margin-top: 5%;
    padding: 0 13%;
    width: 100%;
    height: 400px;
    object-fit: fill;
}


/* adjustments for my phone spesific (Samsung Galaxy Note8)*/

@media (max-width: 520px) {
    .navbar-chapriv-text {
        font-size: 1.3rem;
    }
    .middle-section-div {
        height: 250px;
        width: 100%;
    }
}